<div>
    <h3>Sign Up</h3>
    <div class="container">
        <%= form_with model: @user do |form| %>
            <div>
                <%= form.label :first_name %> <br/>
                <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "first name"  %>
            </div> 
            <div>
                <%= form.label :last_name %> <br/>
                <%= form.text_field :last_name, class: "form-control shadow rounded", placeholder: "last name"  %>
            </div>
            <div class="d-flex justify-content-between">
                <%= form.label :email, class: "col-md-3" %> <br/>
                <div>
                <%= form.email_field :email, class: "form-control shadow rounded col-md-4", placeholder: "email"  %>
                </div>
            </div>
            <div class="dflex row container">
                <div  class="col-md-6">
                <%= form.label :username %> <br/>
                <%= form.text_field :username, class: "form-control shadow rounded", placeholder: "username"  %>
                </div>
                <div class="col-md-6">
                <%= form.label :password %> <br/>
                <%= form.password_field :password, class: "form-control shadow rounded", placeholder: "password"  %>
                </div>
            </div>
           
        
            <div class="my-3 text-end">
                <p>
                <%= form.submit  %>
                </p>
            </div>
           
        <% end %>
    </div>

</div>