<div>
    <div class="row">
    <% @user.each do |article| %>
        <% unless article.archived? %>
        <div  class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100 d-flex flex-column" style="width: 100%;">
        <div class="image-container">
            <% if article.image_link.present? %>
                <img src="<%= article.image_link %>" class="card-img-top" alt="Article Image">
            <% else %>
                <img src="https://plus.unsplash.com/premium_photo-1681566925827-d1969127dd3d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Article Image">
            <% end %>
        </div>
            <div class="card-body bg-info text-white">
                <div class="card-title">
                    <div>
                    <h5><%= link_to article.title, article_path(article), class: "text-white text-decoration-none" %></h5>
                    <p>by <%= article.user.first_name.titlecase %> <%= article.user.last_name.titlecase %>  </i> </p>                    
                    </div>
                </div>
                    <p class="card-text"><%= article.description %></p>
                <div class="text-end art_button">
                    <%= link_to "See Full Article", article_path(article), class: "btn btn-outline-light" %>
                </div>
            </div>
        </div>  
        </div>
        <% end %>   
    <% end %>
    </div>
</div>
