<div>
        <div class="card">
            <div class="card header">
                <h3><%= @article.title.titlecase %></h3>
                <p>Posted <%= time_ago_in_words(@article.created_at) %> ago... <i>by <%= @article.user.first_name.titlecase if @article.user %>  <%= @article.user.last_name.titlecase %></i> </p>
            </div>
            <div class="card-body">
            <p><%= @article.description %></p>
                <p><%= @article.body %></p>
            </div>
            <div class="card-footer">
                <i>Ref: <%= @article.reference %>...</i>
            </div>
        </div>
        <hr/>
</div>