<div class="card p-5  shadow-sm">
    <div class="card-head">

         <% if @article.user.user_image.present? %>
         <div class="picture_box">
        <img src="<%= @article.user.user_image%>">
        </div>
         <% else %>
        <div class="avatar">
                <h5><%= @article.user.first_name[0].titlecase%><%= @article.user.last_name[0].titlecase%></h5>
        </div>
        <% end %>
        <div>
            <h3><%= @article.title.titlecase %></h3>
            Posted <%= time_ago_in_words(@article.created_at) %> ago... <i>by <%= link_to "#{@article.user.first_name.titlecase} #{@article.user.last_name.titlecase}", user_path(@article.user)  %></i>
        </div>      
    </div>
    <hr/>
    <div class="card_body ">
        <div  class="d-flex justify-content-evenly align-items-center row">
            <div class="col-lg-8">
                <p><%= @article.description %></p>
                <p><%= @article.body %></p>
            </div>
            <div  class="image-box col-lg-4 mb-3">
            <img src="<%= @article.image_link %>" class="rounded-3" alt="Article Image" >
            </div>
                <hr/>
            <div class="card-foot">
                <p>Reference/s:</p>
                <li class="ps-3"><%= @article.reference %>...</li>
            </div>
        </div>
    </div>
</div>   

<% @article.comments.each do |comment| %>
    <div>
      <p><%= comment.body %></p>
      <p>Posted by: <%= comment.user.username %></p>
      
      <!-- Now display replies for this comment -->
      <ul>
        <% comment.replies.each do |reply| %>
          <li>
            <p><%= reply.reply_body %></p>
            <p>Reply by: <%= reply.user.username %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>







        

   
             


