<div
    <div class="card p-4">
    <div>
    <div  class="d-flex" >
        <div class="avatar mb-2">
                <h5><%= @article.user.first_name[0].titlecase%><%= @article.user.last_name[0].titlecase%></h5>
        </div>
        <div >
            <h3><%= @article.title.titlecase %></h3>
            <p>Posted <%= time_ago_in_words(@article.created_at) %> ago... <i>by <%= @article.user.first_name.titlecase %>  <%= @article.user.last_name.titlecase%></i> </p>
        </div>
    </div>
        
        <div class="card-body">
        <p><%= @article.description %></p>
            <p><%= @article.body %></p>
        </div>
        <hr/>
        <div class="">
        <p>Reference/s:</p>
            <li class="ps-3"><%= @article.reference %>...</li>
        </div>
    </div>
      
</div>


<div>
            <img src="<%= @article.image_link %>" class="card-img-top mb-2" alt="Article Image" >
            </div>