<div>
    <p>
        Our Blog has <%= Article.public_count %> articles and counting!
    </p>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <div class="card-frame shadow bg-info">
                <div class="header">
                    <div class="avatar mb-2">
                    <h6><%= article.user.first_name[0].titlecase%><%= article.user.last_name[0].titlecase%></h6>
                    </div>
                    <div>
                    <h5><%= link_to article.title.titlecase, article_path(article), class: "text-white text-decoration-none" %></h5>
                    <p>Posted <%= time_ago_in_words(article.created_at) %> ago... <i>by <%= article.user.first_name.titlecase %> <%= article.user.last_name.titlecase %>  </i> </p>                    
                    </div>
                </div>
                <div class="card-body">
                
                    <p><%= article.body %></p>
                </div>
                <div class="card-footer">
                    <i>Ref: <%= article.reference %>...</i>
                </div>
                <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
            </div>
        <% end %>    
    <% end %>
</div>
