<h2>Comments (<%= @article.ceomments.length %>)</h2>
<div class="comments">
  <% @article.comments.each do |comment| %>
    <div class="comment">
      <p>Posted by: <%= comment.user.username %> <%= comment.body %></p>
      <% if logged_in? && (comment.user == current_user || current_user.admin? ) %>
    <%= link_to "Remove Comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>      <h3>Replies</h3>
    <% end %> 
    <ul>
        <% comment.replies.each do |reply| %>
          <li>
            <p><%= reply.reply_body %></p>
            <p>Reply by: <%= reply.user.username %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

