<h5>Comments (<%= @article.comments.length %>)</h5>
<div class="comments">
  <% @article.comments.each do |comment| %>
    <div class="comment my-3">
        <div class="d-flex align-items-center">
            
            <% if comment.user.user_image.present? %>
                <div class="user-picture_box">
                    <img src="<%= comment.user.user_image%>">
                </div>
            <% else %>
                <div class="user-avatar">
                    <h5><%= comment.user.first_name[0].titlecase%><%= comment.user.last_name[0].titlecase%></h5>
                </div>
            <% end %> 

            <span class="px-2"><%= comment.user.username %></span>

        </div>

        <p>
        <ul class="mx-4"><%= comment.body %></ul>
        </p>
        
        
            <% if logged_in? && (comment.user == current_user || current_user.admin? ) %>
                <%= link_to "Remove Comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
            <% end %> 

            <%= render "form_reply", comment: comment %>

        <ul class="replies">
       
            <% comment.replies.each do |reply| %>
                 <hr/>
                <div  class="d-flex align-items-center">

                <% if reply.user.user_image.present? %>
                    <div class="user-picture_box">
                        <img src="<%= reply.user.user_image%>">
                    </div>
                <% else %>
                    <div class="user-avatar">
                        <h5><%= reply.user.first_name[0].titlecase%><%= reply.user.last_name[0].titlecase%></h5>
                    </div>
                <% end %> 

                <span  class="px-2"><%= reply.user.username %></span>

                </div>
                
                <ul class="mx-4">
                    <ul class="reply-body"><%= reply.reply_body %></ul>
                </ul>
            <% end %>
        </ul>
    </div>
  <% end %>
</div>

