<div>
    <h3>Add a comment:</h3>
</div>
<div>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
         <div class="form-group row">
                <div class=" col-md-10">
                <%= form.text_area :body, class: "form-control shadow rounded", placeholder: "type your comment"  %>
                </div>
            </div>
        <p>
            <%= form.label :name %><br/>
            <%= form.text_field :commenter, required: true %>
        </p>
        <p>
            <%= form.label :comment %><br/>
            <%= form.text_field :body, required: true  %>
        </p>
        <p>
            <%= form.label :set_status %>
            <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
        </p>
        <p>
            <%= form.submit %>
        </p>
    <% end %>
</div>