<div>
    <div>
    <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-success rounded text-light  text-center") do |form| %>
        <%= render "shared/errors", obj: @article, class: "text-start" %>
            <h3>Create Article</h3>
       
            <div  class="form-group row">
                <%= form.label :title, class: "shadow col-md-2 col-form-label" %>
                <div class=" col-md-10">
                <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "Article Title"  %>
                </div>
            </div> 

            <div  class="form-group row">
                <%= form.label :description, class: "shadow col-md-2 col-form-label" %>
                <div class=" col-md-10">
                <%= form.text_area :description, class: "form-control shadow rounded", placeholder: "Article Description"  %>
                </div>
            </div>

            <div  class="form-group row">
                <%= form.label :body, class: "shadow col-md-2 col-form-label" %>
                <div class=" col-md-10">
                <%= form.text_area :body, class: "form-control shadow rounded", placeholder: "Article Body"  %>
                </div>
            </div>

            <div  class="form-group row">
                <%= form.label :reference, class: "shadow col-md-2 col-form-label" %>
                <div class=" col-md-10">
                <%= form.text_area :reference, class: "form-control shadow rounded", placeholder: "Article References"  %>
                </div>
            </div>

            <div>
            <%= form.label :image_link %> <br/>
            <%= form.text_area :image_link  %>
        </div>


            <div  class="form-group row">
                <%= form.label :image_link, class: "shadow col-md-2 col-form-label" %>
                <div class=" col-md-10">
                <%= form.text_area :image_link, class: "form-control shadow rounded", placeholder: "Image_link (optional)"  %>
                </div>
            </div>

            <div>
                <p>
                    <%= form.label :set_status %>
                    <%= form.select :status, Visible::VALID_STATUSES, selected:  @article.status || "public" %>
                </p>
            </div>

            <div>
                <%= form.submit  %>
            </div>
           
        <% end %>
    </div>

</div>