<div>
    <%= render "elements/nav-success" %>
</div>
<div class="container mt-5">
    <div>
        <%= render "article" %>
        <%= render "comments" %>
        <%= link_to "Back to articles list", articles_path %> ||
        <%= link_to "Edit Article", edit_article_path(@article) %> ||
        <%= link_to "Delete Article", articles_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
     <div>
        <%= render "comment" %>
    </div>
    </div>
</div>