<div>
    <%= render "elements/article-banner" %>
</div>
<div class="container mt-5">
    <div>
        <%= render "article" %>
        <%= render "comments" %>
         <%= render "reply/reply_list" %>
     <div>
 <% if logged_in? %>
        <%= render partial: "comment", collection: @comments, as: :comment %>
         <%= render "reply/reply_list" %>
   <% end %>
    </div>
    </div>
</div>